${LIVE_LOG} {
    size ${MIN_NEW_LOG_SIZE_TO_ROTATE}
    rotate 1
    postrotate
        # /usr/bin/killall -HUP syslogd
        ${COMPRESS} ${COMPRESS_OPTS} -c ${LIVE_LOG}.1 >>${KEEP_LOG}
    endscript
}

${KEEP_LOG} {
    size ${MIN_LOG_SIZE_TO_ROTATE}
    rotate ${LOG_FILES_TO_KEEP}
    ${ADD_LOGROTATE_DIRECTIVE}
}

