${LIVE_LOG} {
    size ${MIN_NEW_LOG_SIZE_TO_ROTATE}
    rotate 1
    postrotate
        lz4 -c ${LIVE_LOG}.1 >>${OLD_LOG}
    endscript
}

${OLD_LOG} {
    size ${MIN_LOG_SIZE_TO_ROTATE}
    rotate 10
}

